/* layout.css */

/* Styling designed for main container of home page */
/* Box that arranges: date, weather, and current date's outfit cards */
.mainContainer {
    display: flex;
    flex-direction: column;
    height: 90vh;
    padding: 5%;
}

/* 1.) */

/* 2.) Card container for outfit */
  
/* 3.) Outfit card conrainer */